{% extends "base_layout.html" %}
{% load crispy_forms_tags %}

{% block content %}
	<div class="content-section">
		<form method="POST">
			{% csrf_token %}
			<fieldset class="form-group">
				<legend class="border-bottom mb-4">Reset Password Confirmation</legend>
				<!-- {{ form.as_p }} use for show the form field as paragraph -->
				{{ form|crispy }}
			</fieldset>
			<div class="form-group">
				<button class="btn btn-outline-info" type="submit">Reset Password</button>
			</div>
		</form>
	</div>
{% endblock content %}