{% extends "base_layout.html" %}

{% block content %}
	<div class="alert alert-info">
		<h2>Your password has been saved.</h2>
	</div>
	<a href="{% url 'login' %}">Sign In Here</a>
{% endblock content %}